<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Recipes Page</title>
</head>
<style>
  body{font-family:Arial,Helvetica,Sans-serif;}

  .navbar a{float:right;padding:12px;color:white;text-decoration:none;font-size:17px;}

.navbar a:hover{background-color:hsl(0, 17%, 15%);}

.active{background-color:#e0bd0f;}


@media screen and(max-width:500px){.navbar a{float:none;display:block}}
  
</style>

<body>
  <div class="navbar">  
    <a href="/Signup">Signup</a> 
    <a href="/Recipes">Recipes</a>
    <a href="/Search">Search</a>
    <a href="/Contact">Contact</a>
    <a href="/">Home</a>
  </div>
  
  <body>
    <body style="background-color:rgb(155, 227, 237)"></body>
    <section id="Tips">
      <h1>Health and nutrition tips</h1>
      <p>Balanced Diet: Emphasize a well-rounded diet with a mix of fruits, vegetables, whole grains, lean proteins, and healthy fats.<br><br>

        Portion Control: Be mindful of portion sizes to avoid overeating and maintain a healthy weight.<br><br>
        
        Hydration: Drink plenty of water throughout the day to stay hydrated and support bodily functions.<br><br>
        
        Regular Exercise: Incorporate regular physical activity into your routine, such as walking, jogging, or home workouts.<br><br>
        
        Sleep: Prioritize getting enough quality sleep each night to support overall health and wellbeing.Mindfulness and Stress Management: Practice relaxation techniques, meditation, or yoga to reduce stress and improve mental health.<br><br>

        Limit Processed Foods: Minimize intake of processed and sugary foods, opting for whole, unprocessed options instead.<br><br>
        
        Health Check-ups: Schedule regular check-ups with your healthcare provider for screenings and assessments of your overall health.<br><br>
        
        Customized Nutritional Needs: Tailor your diet to your individual needs and preferences, considering any dietary restrictions or health conditions.<br><br>
        
        Educational Resources: Provide links or references to reputablesources for further information on health, nutrition, and healthy lifestyle choices.<br><br>

        Remember to consult a healthcare professional before making significant changes to your diet or exercise routine</p>
  </body>